@import "tailwindcss";

:root {
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
}